@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #F1E8DE;
}

a {
  text-decoration: none;
}

header {
  background-color: #C7A17A;
}
header nav a {
  color: #0b090a;
}
header nav a:hover {
  color: #F1E8DE;
}
header nav a img.icono-logo {
  width: 30px;
  height: 30px;
}
header nav .nav-link {
  color: #F1E8DE;
}
header nav .nav-link:hover {
  color: #0b090a;
}
header button.button-custom {
  background-image: url(../icon/menu-icon2.png);
  background-color: #C7A17A;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-position: center center;
}
header button.button-custom:focus, header button.button-custom:active, header button.button-custom.active {
  outline: none;
  box-shadow: none;
}

footer.pie-pagina {
  width: 100%;
  background-color: #9A8C7D;
  border-top: 1px solid #0b090a;
}
footer.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 45px 0px;
}
footer.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer.pie-pagina .grupo-1 .box figure img {
  width: 150px;
}
footer.pie-pagina .grupo-1 .box figure h3 {
  color: #0b090a;
  margin-top: 5px;
}
footer.pie-pagina .grupo-1 .box h2 {
  color: #F1E8DE;
  margin-bottom: 25px;
  font-size: 20px;
}
footer.pie-pagina .grupo-1 .box .red-social img {
  width: 40px;
  display: inline-block;
  transition: transform 0.3s, opacity 0.3s;
}
footer.pie-pagina .grupo-1 .box .red-social img:hover {
  transform: scale(1.1);
  opacity: 1;
}
footer.pie-pagina .grupo-1 .box .red-social a {
  margin-right: 10px;
}
footer.pie-pagina .grupo-2 {
  background-color: #0b090a;
  color: #F1E8DE;
  padding: 15px 10px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  footer.pie-pagina .grupo-1 {
    width: 80%;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 30px 0px;
  }
}
section.banner {
  background-image: linear-gradient(100deg, #000000, rgba(0, 0, 0, 0.1254901961)), url(../img/generales/cafe1.jpg);
  height: 40rem;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-bottom: 1px solid #0b090a;
}
section.banner .content-banner {
  max-width: 20rem;
  margin: 0 auto;
  padding: 10rem 0;
}
section.banner .content-banner h1 {
  font-family: "merriweather", sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  color: #C7A17A;
  margin-bottom: 1rem;
}
section.banner .content-banner p {
  color: #F1E8DE;
  font-size: 1rem;
  font-weight: 300;
}
section.banner .content-banner a {
  font-size: 1rem;
  font-weight: 600;
  background-color: #C7A17A;
  color: #0b090a;
  display: inline-block;
  padding: 15px 15px;
  border-radius: 15px;
  text-transform: uppercase;
  margin-top: 0.5rem;
}
section.banner .content-banner a:hover {
  background-color: #9A8C7D;
  color: #F1E8DE;
}

@media (min-width: 768px) {
  section.banner {
    height: 40rem;
    width: 100%;
  }
  section.banner .content-banner {
    max-width: 40rem;
    margin: 0 auto;
    padding: 10rem 0;
  }
}
div.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  max-width: 1200px;
  margin: 30px 30px;
}
div.cards-container .card {
  background-color: #C7A17A;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 350px;
  transition: transform 0.3s ease-in-out;
}
div.cards-container .card:hover {
  transform: translateY(-5px);
}
div.cards-container .card img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px 10px 0 0;
}
div.cards-container .card .card-content {
  padding: 20px;
}
div.cards-container .card .card-content h3 {
  margin-top: 0;
  font-family: "merriweather", sans-serif;
  font-size: 24px;
  color: #0b090a;
}
div.cards-container .card .card-content p {
  margin-bottom: 0;
  color: #0b090a;
  font-size: 16px;
  line-height: 1.5;
}
@media (min-width: 768px) {
  div.cards-container .cards-container {
    flex-wrap: nowrap;
  }
}

main.menu {
  padding: 20px;
}

.intro p {
  text-align: center;
  margin-bottom: 5px;
  font-family: "merriweather", sans-serif;
}
.intro h1 {
  text-align: center;
  margin-bottom: 20px;
  font-family: "poppins", sans-serif;
}

.product-section {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: 15px 0;
}

.menu-section {
  margin-bottom: 40px;
}
.menu-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
@media (min-width: 480px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}
.product-item:hover .product-image-wrapper {
  border: 2px solid #95795C;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-image-wrapper {
  width: 150px;
  height: 150px;
  background-color: #C7A17A;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  transition: border 0.3s;
}
.product-image-wrapper img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.product-info {
  background-color: #F1E8DE;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
}
.product-info p.product-name {
  font-weight: 700;
}
.product-info p.product-price {
  font-family: "merriweather", sans-serif;
}

.product-name,
.product-price {
  margin: 5px 0;
}

main.main__local {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
main.main__local h1.title-local {
  margin-top: 20px;
  text-align: center;
  justify-content: center;
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-size: 55px;
}
main.main__local p.parrafo-local {
  text-align: center;
  justify-content: center;
  font-family: "merriweather", sans-serif;
}

.container-local {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px auto;
  width: calc(100% - 20px);
  border-top: 1px solid #95795C;
}

.local {
  display: flex;
  margin: 20px auto;
  border: 1px solid #95795C;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  background-color: #C7A17A;
}

.local img {
  width: 40%;
  height: auto;
  object-fit: contain;
}

.info {
  padding: auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}
.info h2 {
  margin-top: 15px;
  color: #0b090a;
  font-weight: 600;
  font-family: "merriweather", sans-serif;
}
.info p {
  margin: 0 0 10px;
  color: #F1E8DE;
}

.maps-button {
  background-color: #F1E8DE;
  color: #0b090a;
  border: 1px solid #95795C;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.maps-button:hover {
  background-color: #95795C;
  color: #F1E8DE;
}
.maps-button::after {
  color: #F1E8DE;
}

@media (max-width: 768px) {
  .container-local {
    margin: 0 10px;
    width: calc(100% - 20px);
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .local {
    flex-direction: column;
    width: 100%;
  }
  .local img, .info {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
