// Estilos Navbar

header {
    background-color: $color-primario;
    nav {
        
        a {
            color: $color-negro;

            &:hover{
                color: $color-claro;
            }
            img.icono-logo {
                width: 30px;
                height: 30px;

            }
        }
    
        .nav-link {
            color: $color-claro;

            &:hover{
            color: $color-negro;
            }

        }
       
        
    }
    button.button-custom {
        background-image: url(../icon/menu-icon2.png);
        background-color: $color-primario;
        border: none;
        background-size: contain;  
        background-repeat: no-repeat;  
        width: 30px;  
        height: 30px;
        background-position: center center;
        &:focus,
        &:active,
        &.active {
        outline: none;  
        box-shadow: none;  
       
    }
        
    }
    
}






