
main.main__local {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    h1.title-local {
        margin-top: 20px;
        text-align: center;
        justify-content: center;
        font-family: $fuente-principal;
        font-weight: 600;
        font-size: 55px;
    }
    p.parrafo-local {
        text-align: center;
        justify-content: center;
        font-family: $fuente-secundaria;
        
       
    }
   
}
.container-local {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px auto;
    width: calc(100% - 20px); 
    border-top: 1px solid $color-secundario;
    
}
.local {
    display: flex;
    margin: 20px auto;
    border: 1px solid $color-secundario;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    background-color: $color-primario;
}
.local img {
    width: 40%;
    height: auto;
    object-fit: contain;
    
}
.info {
    padding: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    h2 {
        margin-top: 15px;
        color: $color-negro;
        font-weight: 600;
        font-family: $fuente-secundaria;
    }
    p {
        margin: 0 0 10px;
        color: $color-claro;  

    }
}

.maps-button {
    background-color: $color-claro;
    color: $color-negro;
    border: 1px solid $color-secundario;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: $color-secundario;
        color: $color-claro;
    }
    &::after {
        color: $color-claro;
    }
}




// Mediaqueries 
@media (max-width: 768px) {
    .container-local {
        margin: 0 10px;  
        width: calc(100% - 20px);
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .local {
        flex-direction: column;
        width: 100%;
    }

    .local img, .info {
        width: 100%;
    }
}

