// Seccion Banner

section.banner {
    background-image: linear-gradient(100deg,#000000,#00000020),url(../img/generales/cafe1.jpg);
    height: 40rem;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid $color-negro;
   
    .content-banner {
        max-width: 20rem; 
        margin: 0 auto;
        padding: 10rem 0;
    
        h1 {
            font-family: $fuente-secundaria;
            font-size: 2.5rem;
            font-weight: 900;
            color: $color-primario;
            margin-bottom: 1rem;           
        }
        p {
            
            color: $color-claro;
            font-size: 1rem;
            font-weight: 300;          
        }
        a {
            font-size: 1rem;
            font-weight: 600;
            background-color: $color-primario;
            color: $color-negro;
            display: inline-block;
            padding: 15px 15px;
            border-radius: 15px;
            text-transform: uppercase;
            margin-top: 0.5rem;        
            &:hover {
                background-color: $color-gris;
                color: $color-claro;
            }
        }
        
    }

}

// Mediaqueries - Seccion Banner
@media (min-width: 768px) {
    section.banner {
        height: 40rem;
        width: 100%; 
        .content-banner {
            max-width: 40rem; 
            margin: 0 auto;
            padding: 10rem 0;          
        }  
    }
}

// Cards 

div.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    max-width: 1200px;
    margin: 30px 30px;
    .card {
        background-color: $color-primario;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 350px;
        transition: transform 0.3s ease-in-out;
        &:hover {
            transform: translateY(-5px);
        }
        img {
            width: 100%;
            height: auto;
            display: block;
            border-radius: 10px 10px 0 0;
            
        }
        .card-content {
            padding: 20px;
            h3 {
                margin-top: 0;
                font-family: $fuente-secundaria;
                font-size: 24px;
                color: $color-negro;
                
            }
            p {
                margin-bottom: 0;
                color: $color-negro;
                font-size: 16px;
                line-height: 1.5;
            }
        }
    }

// // Mediaqueries - Cards
@media (min-width: 768px) {
    .cards-container {
            flex-wrap: nowrap;
        }
    }

}


