// Seccion Banner

section.banner {
    background-image: linear-gradient(100deg,#000000,#00000020),url(../img/generales/cafe1.jpg);
    height: 40rem;
    width: 100%;
    background-size: cover;
    background-position: center;
   
    .content-banner {
        max-width: 20rem; 
        margin: 0 auto;
        padding: 10rem 0;
    
        h2 {
            font-family: $fuente-secundaria;
            font-size: 2.5rem;
            font-weight: 900;
            color: $color-primario;
            margin-bottom: 1rem;           
        }
        p {
            
            color: $color-claro;
            font-size: 1rem;
            font-weight: 300;          
        }
        a {
            font-size: 1rem;
            font-weight: 600;
            background-color: $color-primario;
            color: $color-negro;
            display: inline-block;
            padding: 15px 15px;
            border-radius: 15px;
            text-transform: uppercase;
            margin-top: 0.5rem;        
            &:hover {
                background-color: $color-gris;
                color: $color-claro;
            }
        }
        
    }

}


// Separador

.barra-separacion {
    width: 100%;
    height: 65px;
    background-color: $color-negro;
    border-bottom: 1px solid $color-primario;
    border-top: 1px solid $color-primario;
    h2.sobreNosotros{
        color: $color-primario;
        text-align: center;
        padding: 18px;
        font-family: $fuente-secundaria;
        font-size: 20px;

    }
}




