.contact-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    text-align: center;
  
    .title-contact {
      width: 100%;
      text-align: center;
      margin-top: 20px;
      padding: 10px;
      border-bottom: 1px solid $color-secundario;
      border-top: 1px solid $color-secundario;
      font-weight: 700;
      font-size: 3rem;
    }
  
    .contact-left,
    .contact-right {
      width: 100%;
      max-width: 600px;
      box-sizing: border-box;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  
    .contact-left {
      order: 1;
  
      .contact-info {
        p {
          margin: 10px 0;
        }
      }
    }
  
    .contact-right {
      order: 2;
  
      .contact-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
  
        form {
          width: 100%;
          max-width: 600px;
          text-align: left;
          margin: 0 auto;
  
          label {
            display: block;
            margin-top: 10px;
          }
  
          input,
          select,
          textarea {
            display: block;
            margin-top: 5px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            width: 100%;
          }
  
          textarea {
            resize: vertical;
          }
  
          button {
            margin-top: 20px;
            padding: 15px;
            background-color: $color-primario;
            color: $color-negro;
            border: none;
            border-radius: 5px;
            text-transform: uppercase;
            cursor: pointer;
            transition: background-color 0.3s ease;
  
            &:hover {
              background-color: $color-gris;
              color: $color-claro;
            }
          }
        }
      }
    }
  
    @media (max-width: 768px) {
      .contact-left,
      .contact-right {
        max-width: 100%;
        padding: 10px;
      }
  
      .contact-right .contact-form form {
        padding: 0 20px;
      }
    }
  }
  